
.main  {
width: 70px;
height: 70px;
}
table td {
width: 60px;
height: 60px
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
}

.border {
border-width: 5px
}

.main ins {
/*border: thick double #23435F;*/
border:  1px solid #121212;
border-radius: 3px;
width: 70px;
height: 70px;
left: 2px;
top: 4px;
display: block;
position: static;
z-index: 4;
background-repeat: no-repeat}


.main a {
width: 70px;
height: 70px;
display: block;
position: relative;
bottom: 70px;
z-index: 5;
}

.main a:hover {
/*background: #fff200;
opacity: 0.4;*/
border-color: yellow;
box-shadow: 0 1px 3px rgb(0, 0, 0, .12), 0 1px 2px rgb(0, 0, 0, .24);
}
.main ins:active {

}

.close {
  width: 50px;
  height: 50px;
  background: url("icons/close.png");
}
.closeimg {
background: url("icons/close.png");
border:  0px solid #121212;
width: 24px;
height: 24px;
left: 2px;
top: 4px;
display: block;
position: relative;
left: 250px;
z-index: 4;

background-position: right;
background-repeat: no-repeat} 
}
.ibg {
background: url("icons/code.png");
filter: grayscale(100%);
background-position: center;
}

.ibg-active {
background: url("icons/code.png");
filter: grayscale(%);
background-position: center;
}

.ibg.hovered {
  border-color: #ffd100;
  box-shadow: 0 1px 3px rgb(0, 0, 0, .12), 0 1px 2px rgb(0, 0, 0, .24);
}


.yt {
background: url("icons/DB.png");
filter: grayscale(100%);
}

.yt-active {
background: url("icons/DB.png");
filter: grayscale(0%);
background-position: center;
}

.tw {
background: url("icons/Linux.png");
filter: grayscale(100%);
background-position: center;
}

.tw-active {
background: url("icons/Linux.png");
filter: grayscale(0%);
background-position: center;
}

.fb {
background: url("icons/cloud.png");
background-position: center;
filter: grayscale(100%);
}

.fb-active {
background: url("icons/cloud.png");
background-position: center;
filter: grayscale(0%);
}

.fb-passive {
background: url("icons/cloud.png");
background-position: center;
opacity: 0.2;
filter: grayscale(100%);
}

.ig {
background: url("icons/Docker.png");
background-position: center;
filter: grayscale(100%);
}

.ig-active {
background: url("icons/Docker.png");
background-position: center;
filter: grayscale(0%);
}

.ig-passive {
background: url("icons/Docker.png");
background-position: center;
opacity: 0.2;
filter: grayscale(100%);
}


#edit {
        width: 300px;
        height: 50px;
        text-align: center;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }

#edit:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;

[data-tooltip] {
  position: relative;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 12px;
  border-radius: 1em;
  padding: 0 0.5em;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  width: 150px;
  transform:translateX(-50%);
  bottom: 25px;
  padding: 0.5em;
  background-color: black;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  transition:0.2s;
}
[data-tooltip]:after {
  content: "";
  position: relative;
  opacity: 0;
  bottom: 15px;
  margin-left: -5px;
  border: 5px solid black;
  border-color: black transparent transparent transparent;
  transition:0.2s;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
}