{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}" >
{% endblock%}

{% block app_content %}
    <div class="container">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="border">
                            <div class="main">
                                {% if "Main" in type %}
                                <ins class="ibg-active"></ins>
                                {% else %}
                                <ins class="ibg"></ins>
                                {% endif %}
                                <del id="#1"></del>
                                <a class="bobbly" href="#edit" rel="np" target=""></a>
                            </div>
                            <br>
                            {% for post in posts %}
                                {% if not post.field %}
                                    {% include '_talent.html' %}
                                {% endif %}
                            {% endfor %}
                        </td>

                        <td class="border">
                            <div class="main">
                                {% if "Database" in type %}
                                    <ins class="yt-active">  </ins>
                                {% else %}
                                    <ins class="yt">  </ins>
                                {% endif %}
                                <del></del>
                                <a class="bobbly" href="#edit" rel="np" target=""></a>
                            </div>
                            <br>
                            {% for post in posts %}
                                {% if post.field == "Database" %}
                                    {% include '_talent.html' %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="border">
                            <div class="main">
                                {% if "Linux" in type %}
                                    <ins class="tw-active">  </ins>
                                {% else %}
                                    <ins class="tw">  </ins>
                                {% endif %}
                                <del></del>
                                <a class="bobbly" href="#edit" rel="np" target=""></a>
                            </div>
                            <br>
                            {% for post in posts %}
                                {% if post.field == "Linux" %}
                                    {% include '_talent.html' %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="border">
                            <div class="main">
                                {% if "Cloud" in type %}
                                    <ins class="fb-active">  </ins>
                                {% elif "Linux" in type %}
                                    <ins class="fb">  </ins>
                                {% else %}
                                    <ins class="fb-passive">  </ins>
                                {% endif %}
                                <del></del>
                                <a class="bobbly" href="#edit" rel="np" target=""></a>
                            </div>
                        </td>
                        <td class="border">
                            <div class="main">
                                {% if "Docker" in type %}
                                    <ins class="ig-active">  </ins>
                                {% elif "Linux" in type %}
                                    <ins class="ig">  </ins>
                                {% else %}
                                    <ins class="ig-passive">  </ins>
                                {% endif %}
                                <del></del>
                                <a class="bobbly" href="#edit" rel="np" target=""></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
{% block flesh %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    {% endblock %}
                <div id="edit">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <div class="">
                                    <a class="closeimg" href="#1" rel="np" target=""></a>
                                </div>
                                {% if form %}
                                {{ wtf.quick_form(form, horizontal_columns=('lg',3,10)) }}
                                <br>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
        </div>

{% endblock %}

{% block scripts %}
        <script src="../static/app.js" ></script>
{% endblock %}