{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>last seen {{ user.last_seen }}</p>
                {% endif %}
                {% if current_user.username == user.username %}
                <p><a href="{{ url_for('main.edit_profile') }}">Add skill</a></p>
                {% else %}
                <span>authorization for adding skill</span>
                {% endif %}
                {% for post in posts %}
                    {%if post.certificate%}
                    <p>{{ post.certificate }}</p>
                    <a href="{{ url_for('main.download_file', name=post.certificate) }}" target="_blank">download</a>
                    {%endif%}
                {% endfor %}



            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
{% endblock %}